[Desktop Entry]
Version=1.0
Terminal=false
Icon=eeschema
Type=Application
Categories=Science;Electronics;
Exec=env GTK_THEME=ZorinGrey-Dark eeschema %f
StartupWMClass=eeschema
MimeType=application/x-kicad-schematic;
Name[ar]=محرر مخطط KiCad (مستقل)
Name[bg]=KiCad редактор на схеми (самостоятелен)
Name[ca]=Editor d'esquemàtics KiCad (autònom)
Name[cs]=KiCad editor schémat (Samostatně)
Name[da]=KiCad skemaeditor (selvstændig)
Name[de]=KiCad Schaltplaneditor (eigenständig)
Name[el]=Επεξεργαστής Σχηματικού KiCad
Name[en]=KiCad Schematic Editor (Standalone)
Name[es]=Editor de esquemas de KiCad (independiente)
Name[es_MX]=Editor de esquemas de KiCad (independiente)
Name[et]=KiCad ahelaskeemiredaktor (iseseisev)
Name[fi]=KiCad Kytkentäkaavioeditori (Itsenäinen)
Name[fr]=Editeur de Schématique KiCad (indépendant).
Name[hi]=KiCad स्कीमैटिक संपादक (स्टैंडअलोन)
Name[he]=עורך סכימות של KiCad (עצמאי)
Name[hu]=KiCad Kapcsolási rajz szerkesztő (Önálló)
Name[id]=Penyunting Skematik KiCad (Mandiri)
Name[it]=Editor degli schemi KiCad (autonomo)
Name[ja]=KiCad 回路図 エディター (スタンドアロン)
Name[ka]=KiCad სქემის რედაქტორი (დამოუკიდებელი)
Name[ko]=KiCad 회로도 편집기 (스탠드얼론)
Name[lt]=KiCad schemų redaktorius (savarankiškas)
Name[lv]=KiCad shēmu redaktors (atsevišķs)
Name[nl]=KiCad schema editor
Name[no]=KiCad skjemaredaktor (frittstaaende)
Name[pl]=Edytor Schematów programu KiCad (Tryb samodzielny)
Name[pt]=Editor de esquemas do KiCad (independente)
Name[pt_BR]=Editor de esquemas do KiCad (independente)
Name[ro]=Editor de scheme KiCad (independent)
Name[ru]=Редактор схем KiCad (автономно)
Name[sk]=Editor schém KiCad (samostatný)
Name[sv]=KiCad kretsschemaredigerare (fristående)
Name[ta]=கிகாட் திட்ட ஆசிரியர் (தனித்தனி)
Name[te]=KiCad స్కీమాటిక్ సవరణ సాధనం (స్వతంత్ర)
Name[th]=เครื่องมือแก้ไขวงจร KiCad (ทำงานเดี่ยว)
Name[tr]=KiCad Şematik Düzenleyici (Bağımsız)
Name[uk]=KiCad редактор схем (стандартний)
Name[vi]=Trình soạn sơ đồ nguyên lý KiCad (Độc lập)
Name[zh_CN]=KiCad 原理图编辑器 (独立版)
Name[zh_TW]=KiCad 原理圖編輯器 (獨立版)
Name=KiCad Schematic Editor (Standalone)
GenericName[ar]=أداة التقاط المخطط
GenericName[bg]=Инструмент за въвеждане на схеми
GenericName[ca]=Eina de captura d'esquemàtics
GenericName[cs]=Schematický nástroj pro zachycení
GenericName[da]=Skemaoptagelsesværktøj
GenericName[de]=Werkzeug zur Schaltplanerfassung
GenericName[el]=Χρώμα σύρματος σχηματικού
GenericName[en]=Schematic Capture Tool
GenericName[es]=Herramienta de captura de esquema
GenericName[es_MX]=Herramienta de captura de esquema
GenericName[et]=Ahelaskeemi jäädvustamise tööriist
GenericName[fi]=Kytkentäkaavion Kaappaustyökalu
GenericName[fr]=Outil de Capture Schématique
GenericName[hi]=स्कीमैटिक कैप्चर टूल
GenericName[he]=כלי שרטוט סכימתי
GenericName[hu]=Kapcsolási rajz rögzítő eszköz
GenericName[id]=Alat Tangkap Skematik
GenericName[it]=Strumento di disegno elettrico
GenericName[ja]=回路図キャプチャーツール
GenericName[ka]=სქემის აგების ხელსაწყო
GenericName[ko]=회로도 캡쳐 도구
GenericName[lt]=Schemų kūrimo įrankis
GenericName[lv]=Shēmu ierakstīšanas rīks
GenericName[nl]=Schema tekenen
GenericName[no]=Verktoy for skjemategning
GenericName[pl]=Narzędzie do tworzenia schematów
GenericName[pt]=Ferramenta de captura do esquema
GenericName[pt_BR]=Ferramenta de captura do esquema
GenericName[ro]=Instrument de captare a schemelor
GenericName[ru]=Редактор электрических схем
GenericName[sk]=Nástroj na zachytávanie schém
GenericName[sv]=Kretsschemaredigerare
GenericName[ta]=திட்ட பிடிப்பு கருவி
GenericName[te]=స్కీమాటిక్ క్యాప్చర్ సాధనం
GenericName[th]=เครื่องมือจับภาพวงจร
GenericName[tr]=Şematik Çizim Aracı
GenericName[uk]=Інструмент створення схем
GenericName[vi]=Công cụ vẽ sơ đồ nguyên lý
GenericName[zh_CN]=原理图捕获工具
GenericName[zh_TW]=原理圖捕獲工具
GenericName=Schematic Capture Tool
Comment[ar]=محرر مخططات مستقل لمخططات KiCad
Comment[bg]=Самостоятелен редактор на схеми за KiCad
Comment[ca]=Editor d'esquemàtics autònom per a esquemàtics de KiCad
Comment[cs]=Samostatný editor schémat pro KiCad schémata
Comment[da]=Selvstændig skemaeditor til KiCad-skemaer
Comment[de]=Eigenständiger Schaltplaneditor für KiCad-Schaltpläne
Comment[el]=Αυτόνομος επεξεργαστής σχηματικού για σχηματικά KiCad
Comment[en]=Standalone schematic editor for KiCad schematics
Comment[es]=Editor de esquemas independiente para esquemas de KiCad
Comment[es_MX]=Editor de esquemas independiente para esquemas de KiCad
Comment[et]=Iseseisev ahelaskeemiredaktor KiCadi ahelaskeemide jaoks
Comment[fi]=Itsenäinen kytkentäkaavioeditori KiCad kytkentäkaavioille
Comment[fr]=Editeur de schématique indépendant pour les schémas KiCad
Comment[hi]=KiCad स्कीमैटिक के लिए स्टैंडअलोन स्कीमैटिक संपादक
Comment[he]=עורך סכימות עצמאי עבור סכימות KiCad
Comment[hu]=Önálló kapcsolási rajz szerkesztő KiCad kapcsolási rajzokhoz
Comment[id]=Penyunting skematik mandiri untuk skematik KiCad
Comment[it]=Editor di schemi elettrici indipendente di KiCad
Comment[ja]=KiCad回路図用のスタンドアロン 回路図 エディター
Comment[ka]=KiCad სქემების დამოუკიდებელი სქემის რედაქტორი
Comment[ko]=KiCad 회로도용 스탠드얼론 회로도 편집기
Comment[lt]=Savarankiškas schemų redaktorius KiCad schemoms
Comment[lv]=Atsevišķs shēmu redaktors KiCad shēmām
Comment[nl]=Standalone editor om KiCad schema's te tekenen
Comment[no]=Frittstaaende skjemaredaktor for KiCad-skjemaer
Comment[pl]=Samodzielny edytor schematów przeznaczony do rysowania schematu w programie KiCad
Comment[pt]=Editor autônomo de esquemas para os esquemas do KiCad
Comment[pt_BR]=Editor autônomo de esquemas para os esquemas do KiCad
Comment[ro]=Editor independent pentru schemele KiCad
Comment[ru]=Редактирование электрических схем KiCad в автономном режиме
Comment[sk]=Samostatný editor schém pre schémy KiCad
Comment[sv]=Fristående kretsschemaredigerare för KiCad kretsscheman
Comment[ta]=கிகாட் திட்டங்களுக்கான முழுமையான திட்ட ஆசிரியர்
Comment[te]=KiCad స్కీమాటిక్‌ల కోసం స్వతంత్ర స్కీమాటిక్ సవరణ సాధనం
Comment[th]=ตัวแก้ไขแผนผังวงจรแบบโดดเดี่ยว สำหรับวงจร KiCad
Comment[tr]=KiCad şemaları için bağımsız şematik düzenleyici
Comment[uk]=Редактор схем KiCad в автономном режимі
Comment[vi]=Trình soạn sơ đồ nguyên lý độc lập cho KiCad
Comment[zh_CN]=独立版的 KiCad 原理图编辑器
Comment[zh_TW]=獨立版的 KiCad 原理圖編輯器
Comment=Standalone schematic editor for KiCad schematics
Keywords[ar]=eeschema
Keywords[bg]=eeschema
Keywords[ca]=eeschema
Keywords[cs]=eeschema
Keywords[da]=eeschema
Keywords[de]=eeschema
Keywords[el]=Eeschema
Keywords[en]=eeschema
Keywords[es]=eeschema
Keywords[es_MX]=eeschema
Keywords[et]=eeschema
Keywords[fi]=eeskeema
Keywords[fr]=eeschema
Keywords[hi]=eeschema
Keywords[he]=eeschema
Keywords[hu]=eeschema
Keywords[id]=eeschema
Keywords[it]=eeschema
Keywords[ja]=eeschema
Keywords[ka]=eeschema
Keywords[ko]=eeschema
Keywords[lt]=eeschema
Keywords[lv]=eeschema
Keywords[nl]=Eeschema
Keywords[no]=eeschema
Keywords[pl]=eeschema
Keywords[pt]=eeschema
Keywords[pt_BR]=eeschema
Keywords[ro]=eeschema
Keywords[ru]=eeschema
Keywords[sk]=eeschema
Keywords[sr]=еeschema
Keywords[sv]=Eeschema
Keywords[ta]=a -chedule
Keywords[te]=eeschema
Keywords[th]=Eeschema
Keywords[tr]=şema
Keywords[uk]=eeschema'
Keywords[vi]=eeschema
Keywords[zh_CN]=eeschema
Keywords[zh_TW]=eeschema
Keywords=eeschema
X-AppStream-Ignore=true
