[Desktop Entry]
Version=1.0
Terminal=false
Icon=kicad
Type=Application
Categories=Science;Electronics;
Exec=env GTK_THEME=ZorinGrey-Dark kicad %f
StartupWMClass=kicad
Keywords[ar]=مدير المشاريع;
Keywords[bg]=Мениджър на проекти;
Keywords[ca]=Cap de Projecte;
Keywords[cs]=Manažer projektu;
Keywords[da]=Projektmanager;
Keywords[de]=Projektverwaltung;
Keywords[el]=Projectmanager;
Keywords[en]=Projectmanager;
Keywords[es]=Projectmanager;Administrador;Proyecto;
Keywords[es_MX]=Projectmanager;
Keywords[et]=Projektihaldur;
Keywords[fi]=Projektinhallinta;
Keywords[fr]=Projectmanager;
Keywords[hi]=Projectmanager;
Keywords[he]=מנהל פרויקט;
Keywords[hu]=Projektmenedzser;
Keywords[id]=Projectmanager;
Keywords[it]=Gestione progetto;
Keywords[ja]=Projectmanager;
Keywords[ka]=პროექტის მმართველი;
Keywords[ko]=프로젝트 관리자;
Keywords[lt]=Projektovaldė;
Keywords[lv]=Projektu pārvaldnieks;
Keywords[nl]=Projectbeheer;
Keywords[no]=Prosjektstyring;
Keywords[pl]=Menedżerprojektu;
Keywords[pt]=Projectmanager;
Keywords[pt_BR]=Projectmanager;
Keywords[ro]=Manager de Proiect;
Keywords[ru]=Projectmanager;
Keywords[sk]=Manažér projektu;
Keywords[sr]=Пројектменаџер;
Keywords[sv]=Projekthanterare;
Keywords[ta]=திட்ட மேலாளர்;
Keywords[te]=Projectmanager;
Keywords[th]=Projectmanager;
Keywords[tr]=Proje Yöneticisi;
Keywords[uk]=Менеджер проєкту;
Keywords[vi]=Quản lý dự án;
Keywords[zh_CN]=Projectmanager;
Keywords[zh_TW]=Projectmanager;
Keywords=Projectmanager;
MimeType=application/x-kicad-project;
Name[ar]=كيكاد
Name[bg]=KiCad
Name[ca]=KiCad
Name[cs]=KiCad
Name[da]=KiCad
Name[de]=KiCad
Name[el]=KiCad
Name[en]=KiCad
Name[es]=KiCad
Name[es_MX]=KiCad
Name[et]=KiCad
Name[fa]=KiCad
Name[fi]=KiCad (ohjelma)
Name[fr]=KiCad
Name[hi]=KiCad
Name[he]=KiCad
Name[hu]=KiCad
Name[id]=KiCad
Name[it]=KiCad
Name[ja]=KiCad
Name[ka]=KiCad
Name[ko]=KiCad
Name[lt]=KiCad
Name[lv]=KiCad
Name[nl]=KiCad
Name[no]=KiCad
Name[pl]=KiCad
Name[pt]=KiCad
Name[pt_BR]=KiCad
Name[ro]=KiCad
Name[ru]=KiCad
Name[sk]=KiCad
Name[sr]=KiCad
Name[sv]=KiCad
Name[ta]=மண்
Name[te]=KiCad
Name[th]=คีแคด
Name[tr]=KiCad
Name[uk]=KiCad
Name[vi]=KiCad
Name[zh_CN]=KiCad
Name[zh_TW]=KiCad
Name=KiCad
GenericName[ar]=مجموعة EDA
GenericName[bg]=Пакет за EDA
GenericName[ca]=Suite EDA
GenericName[cs]=EDA Suite
GenericName[da]=EDA-pakke
GenericName[de]=EDA Suite
GenericName[el]=Σουίτα EDA
GenericName[en]=EDA Suite
GenericName[es]=Suite EDA
GenericName[es_MX]=Suite EDA
GenericName[et]=EDA Suite
GenericName[fi]=EDA Paketti
GenericName[fr]=Suite CAO Electronique
GenericName[hi]=EDA सूट
GenericName[he]=חבילת EDA
GenericName[hu]=EDA csomag
GenericName[id]=Suite EDA
GenericName[it]=Suite EDA
GenericName[ja]=EDAスイート
GenericName[ka]=EDA კომპლექტი
GenericName[ko]=EDA 제품군
GenericName[lt]=EDA komplektas
GenericName[lv]=EDA komplekts
GenericName[nl]=EDA-suite
GenericName[no]=EDA-pakke
GenericName[pl]=Zestaw oprogramowania EDA
GenericName[pt]=Conjunto de ferramentas EDA
GenericName[pt_BR]=Conjunto de ferramentas EDA
GenericName[ro]=Suita EDA
GenericName[ru]=САПР
GenericName[sk]=EDA Suite
GenericName[sv]=EDA-svit
GenericName[ta]=EDA தொகுப்பு
GenericName[te]=EDA సూట్
GenericName[th]=ชุดเครื่องมือ EDA
GenericName[tr]=EDA Paketi
GenericName[uk]=EDA Suite'
GenericName[vi]=Bộ công cụ EDA
GenericName[zh_CN]=EDA 套件
GenericName[zh_TW]=EDA 套件
GenericName=EDA Suite
Comment[ar]=مجموعة أدوات لتصميم المخططات وتخطيط لوحات الدوائر
Comment[bg]=Набор от инструменти за проектиране на схеми и печатни платки
Comment[ca]=Suite d'eines per al disseny d'esquemàtics i circuits impresos
Comment[cs]=Sada nástrojů pro návrh schématu a desek s plošnými spoji
Comment[da]=Suite af værktøjer til skemadesign og printkortlayout
Comment[de]=Werkzeugsammlung für Schaltplanentwurf und Leiterplattenlayout
Comment[el]=Σουίτα εργαλείων για σχηματικό σχεδιασμό και διάταξη πλακέτας
Comment[en]=Suite of tools for schematic design and circuit board layout
Comment[es]=Conjunto de herramientas para el diseño de esquemas y de placas de circuitos
Comment[es_MX]=Conjunto de herramientas para el diseño de esquemas y de placas de circuitos
Comment[et]=Tööriistakomplekt ahelaskeemide kavandamiseks ja trükkplaatide paigutamiseks
Comment[fi]=Paketti työkaluja kytkentäkaavio- ja piirilevysuunnitteluun
Comment[fr]=Suite d’outils pour la conception schématique et des circuits imprimés
Comment[hi]=स्कीमैटिक डिज़ाइन और सर्किट बोर्ड लेआउट के लिए उपकरण सूट
Comment[he]=חבילת כלים לעיצוב סכימות ופריסת מעגלים מודפסים
Comment[hu]=Eszközkészlet kapcsolási rajz tervezéséhez és áramköri lap elrendezéséhez
Comment[id]=Rangkaian alat untuk desain skematik dan tata letak papan sirkuit
Comment[it]=Suite per la progettazione di schemi elettrici e circuiti stampati
Comment[ja]=回路図設計と回路基板レイアウトのためのツール群
Comment[ka]=სქემის პროექტირებისა და მიკროსქემის დაფის დაგეგმარების ხელსაწყოების ნაკრები
Comment[ko]=회로도 디자인 및 회로 기판 레이아웃을 위한 도구 모음
Comment[lt]=Schemų projektavimo ir spausdintinių plokščių išdėstymo įrankių rinkinys
Comment[lv]=Rīku komplekts shēmu projektēšanai un plate izkārtojumam
Comment[nl]=Suite van tools voor het tekenen van schema’s en printplaatontwerp
Comment[no]=Verktoysamling for skjemadesign og kretskortlayout
Comment[pl]=Zestaw narzędzi do projektowania schematów i płytek drukowanych
Comment[pt]=Um conjunto de ferramentas para fazer o desenho esquemático e o layout de placa de circuito impresso
Comment[pt_BR]=Um conjunto de ferramentas para fazer o desenho esquemático e o layout de placa de circuito impresso
Comment[ro]=Suită de instrumente pentru proiectarea schemelor și aspectul plăcilor de circuit
Comment[ru]=Комплекс инструментов для составления схем и трассировки печатных плат
Comment[sk]=Sada nástrojov pre návrh schém a rozmiestnenie plošných spojov
Comment[sv]=Svit av verktyg för schema- och kretskortsdesign
Comment[ta]=திட்ட வடிவமைப்பு மற்றும் சர்க்யூட் போர்டு தளவமைப்புக்கான கருவிகளின் தொகுப்பு
Comment[te]=స్కీమాటిక్ డిజైన్ మరియు సర్క్యూట్ బోర్డు లేఅవుట్ కోసం సాధనాల సమాహారం
Comment[th]=ชุดเครื่องมือสำหรับออกแบบวงจรและออกแบบวงจรพิมพ์
Comment[tr]=Şematik tasarım ve Baskı Devre yerleşimi için araç paketi
Comment[uk]=Набір інструментів для схемного проектування та компонування друкованих плат
Comment[vi]=Bộ công cụ thiết kế sơ đồ nguyên lý và bố trí mạch
Comment[zh_CN]=用于原理图设计和电路板布局的工具套件
Comment[zh_TW]=用於原理圖設計和電路板佈局的工具套件
Comment=Suite of tools for schematic design and circuit board layout
X-Desktop-File-Install-Version=0.22
