[Desktop Entry]
Version=1.0
Terminal=false
Icon=gerbview
Type=Application
Categories=Science;Electronics;
Exec=env GTK_THEME=ZorinGrey-Dark gerbview %F
StartupWMClass=gerbview
MimeType=application/x-gerber;application/x-excellon;application/x-gerber-job
Name[ar]=عارض KiCad Gerber
Name[bg]=KiCad Gerber Визуализатор
Name[ca]=Visor Gerber de KiCad
Name[cs]=KiCad prohlížeč gerber
Name[da]=KiCad Gerber-fremviser
Name[de]=KiCad Gerber-Betrachter
Name[el]=Πρόγραμμα Προβολής Αρχείων Gerber
Name[en]=KiCad Gerber Viewer
Name[es]=Visor Gerber de KiCad
Name[es_MX]=Visor Gerber de KiCad
Name[et]=KiCad Gerber-vaatur
Name[fi]=KiCad Gerber-katseluohjelma
Name[fr]=Visualisateur Gerber KiCad
Name[hi]=KiCad गर्बर व्यूअर
Name[he]=כלי צפייה בגרבר של KiCad
Name[hu]=KiCad Gerber Megjelenítő
Name[id]=Penampil Gerber KiCad
Name[it]=Visualizzatore Gerber KiCad
Name[ja]=KiCad ガーバー ビューアー
Name[ka]=KiCad Gerber მნახველი
Name[ko]=KiCad 거버 뷰어
Name[lt]=KiCad Gerber žiūryklė
Name[lv]=KiCad Gerber skatītājs
Name[nl]=KiCad Gerber viewer
Name[no]=KiCad Gerber-viser
Name[pl]=Przeglądarka plików Gerber programu KiCad
Name[pt]=Visualizador do KiCad Gerber
Name[pt_BR]=Visualizador do KiCad Gerber
Name[ro]=Vizualizator Gerber KiCad
Name[ru]=Просмотр Gerber-файлов KiCad
Name[sk]=KiCad prehliadač Gerber
Name[sv]=KiCad Gerber-visare
Name[ta]=கிகாட் கெர்பர் பார்வையாளர்
Name[te]=KiCad గెర్బర్ వ్యూయర్
Name[th]=โปรแกรมดูเกอร์เบอร์ KiCad
Name[tr]=KiCad Gerber Görüntüleyici
Name[uk]=Перегляд KiCad Gerber файлів
Name[vi]=KiCad Gerber Viewer
Name[zh_CN]=KiCad Gerber 查看器
Name[zh_TW]=KiCad Gerber 查看器
Name=KiCad Gerber Viewer
GenericName[ar]=عارض ملفات Gerber
GenericName[bg]=Gerber Файл Визуализатор
GenericName[ca]=Visor de fitxers Gerber
GenericName[cs]=Prohlížeč gerber souboru
GenericName[da]=Gerber-filfremviser
GenericName[de]=Gerber-Datei-Betrachter
GenericName[el]=Πρόγραμμα Προβολής Αρχείων Gerber
GenericName[en]=Gerber File Viewer
GenericName[es]=Visor de archivos Gerber
GenericName[es_MX]=Visor de archivos Gerber
GenericName[et]=Gerber-failide vaatur
GenericName[fi]=Gerber Tiedostokatselin
GenericName[fr]=Visionneuse de fichiers Gerber
GenericName[hi]=Gerber फ़ाइल दर्शक
GenericName[he]=כלי צפייה בקבצי גרבר
GenericName[hu]=Gerber fájl megjelenítő
GenericName[id]=Penampil Berkas Gerber
GenericName[it]=Visualizzatore file Gerber
GenericName[ja]=ガーバー ファイル ビューアー
GenericName[ka]=Gerber ფაილი მნახველი
GenericName[ko]=거버 파일 뷰어
GenericName[lt]=Gerber failų žiūryklė
GenericName[lv]=Gerber failu skatītājs
GenericName[nl]=Gerber Bestand viewer
GenericName[no]=Gerber-filviser
GenericName[pl]=Przeglądarka plików Gerber
GenericName[pt]=Visualizador de ficheiro Gerber
GenericName[pt_BR]=Visualizador de arquivo Gerber
GenericName[ro]=Vizualizator fișiere Gerber
GenericName[ru]=Просмотр Gerber-файлов
GenericName[sk]=Prehliadač Gerber súborov
GenericName[sv]=Gerberfil-visare
GenericName[ta]=கெர்பர் கோப்பு பார்வையாளர்
GenericName[te]=గెర్బర్ ఫైల్ వ్యూయర్
GenericName[th]=โปรแกรมดูไฟล์เกอร์เบอร์
GenericName[tr]=Gerber Dosyası Görüntüleyici
GenericName[uk]=Переглядач Gerber файлів
GenericName[vi]=Trình xem tệp Gerber
GenericName[zh_CN]=Gerber 查看器
GenericName[zh_TW]=Gerber 查看器
GenericName=Gerber File Viewer
Comment[ar]=عرض ملفات Gerber
Comment[bg]=Изглед Gerber файлове
Comment[ca]=Visualitza fitxers Gerber
Comment[cs]=Zobrazit soubory Gerber
Comment[da]=Vis Gerber-filer
Comment[de]=Gerber-Dateien betrachten
Comment[el]=Προβολή αρχείων Gerber
Comment[en]=View Gerber files
Comment[es]=Ver archivos Gerber
Comment[es_MX]=Ver archivos Gerber
Comment[et]=Kuva Gerber-faile
Comment[fi]=Näytä Gerber tiedostot
Comment[fr]=Visualiser fichiers Gerber
Comment[hi]=Gerber फ़ाइलें देखें
Comment[he]=צפה בקבצי גרבר
Comment[hu]=Gerber fájlok megtekintése
Comment[id]=Tampilkan berkas Gerber
Comment[it]=Visualizza file Gerber
Comment[ja]=ガーバー ファイルの閲覧
Comment[ka]=Gerber ფაილების ნახვა
Comment[ko]=거버 파일 보기
Comment[lt]=Peržiūrėti Gerber failus
Comment[lv]=Skatīt Gerber failus
Comment[nl]=Bekijk Gerber-bestanden
Comment[no]=Vis Gerber-filer
Comment[pl]=Przeglądanie plików Gerber
Comment[pt]=Ver ficheiros Gerber
Comment[pt_BR]=Ver arquivos Gerber
Comment[ro]=Vizualizați fișiere Gerber
Comment[ru]=Просмотреть Gerber-файлы
Comment[sk]=Zobraziť súbory Gerber
Comment[sv]=Visa Gerberfiler
Comment[ta]=கெர்பர் கோப்புகளைக் காண்க
Comment[te]=గెర్బర్ ఫైళ్ళు చూడు
Comment[th]=ดูไฟล์เกอร์เบอร์
Comment[tr]=Gerber dosyalarını görüntüleyin
Comment[uk]=Перегляд Gerber файлів
Comment[vi]=Xem tệp Gerber
Comment[zh_CN]=查看 Gerber 文件
Comment[zh_TW]=查看 Gerber 檔案
Comment=View Gerber files
Keywords[ar]=gerbview;PCB;Gerber;
Keywords[bg]=gerbview;Печатна платка;Gerber;
Keywords[ca]=gerbview;PCB;Gerber;
Keywords[cs]=gerbview;DPS;Gerber;
Keywords[da]=gerbview;PCB;Gerber;
Keywords[de]=gerbview;PCB;Gerber;
Keywords[el]=gerbview;PCB;Gerber;
Keywords[en]=gerbview;PCB;Gerber;
Keywords[es]=gerbview;PCB;Gerber;
Keywords[es_MX]=gerbview;PCB;Gerber;
Keywords[et]=gerbview;PCB;Gerber;
Keywords[fi]=gerbview;Piirilevy;Gerber;
Keywords[fr]=gerbview;PCB;Gerber ;
Keywords[hi]=gerbview;PCB;Gerber;
Keywords[he]=gerbview;PCB;Gerber;
Keywords[hu]=gerbview;PCB;Gerber;
Keywords[id]=gerbview;PCB;Gerber;Penampil;
Keywords[it]=gerbview;C.S.;Gerber;
Keywords[ja]=gerbview;PCB;Gerber;
Keywords[ka]=gerbview;PCB;Gerber;
Keywords[ko]=gerbview;PCB;거버;
Keywords[lt]=gerbview;Plokštė;Gerber;
Keywords[lv]=gerbview;PCB;Gerber;
Keywords[nl]=gerbview;PCB;Gerber;
Keywords[no]=gerbview;PCB;Gerber;
Keywords[pl]=gerbview;PCB;Gerber;
Keywords[pt]=gerbview;PCB;Gerber;
Keywords[pt_BR]=gerbview;PCB;Gerber;
Keywords[ro]=gerbview;PCB;Gerber;
Keywords[ru]=gerbview;PCB;Gerber;
Keywords[sk]=gerbview;DPS;Gerber;
Keywords[sv]=gerbview;Mönsterkort;Gerber;
Keywords[ta]=செர்ப்வியூ; பிசிபி; கெர்பர்;
Keywords[te]=gerbview;PCB;Gerber;
Keywords[th]=gerbview;PCB;Gerber;
Keywords[tr]=gerbview;Baskı Devre;Gerber;
Keywords[uk]=gerbview;PCB;Gerber';
Keywords[vi]=gerbview;PCB;Gerber;
Keywords[zh_CN]=gerbview;PCB;Gerber;
Keywords[zh_TW]=gerbview;PCB;Gerber;
Keywords=gerbview;PCB;Gerber;
X-AppStream-Ignore=true
