[Desktop Entry]
Version=1.0
Terminal=false
Icon=bitmap2component
Keywords[ar]=bitmap2component;صورة نقطية;محوّل;
Keywords[bg]=bitmap2component;Растерно изображение;Конвертор;
Keywords[ca]=bitmap2component;Mapa de bits;Conversor;
Keywords[cs]=bitmap2component;Bitmap;Konvertor;
Keywords[da]=bitmap2component;Bitmap;Konverter;
Keywords[de]=Bitmap-zu-Bauteil-Umwandlung;Bitmap;Konverter;
Keywords[el]=bitmap2component;Bitmap;Converter;
Keywords[en]=bitmap2component;Bitmap;Converter;
Keywords[es]=bitmap2component;Mapa de bits;Conversor;
Keywords[es_MX]=bitmap2component;Bitmap;Converter;
Keywords[et]=bitmap2component;Bitmap;Teisendaja;
Keywords[fi]=bittikartta2komponentti; Bittikartta; Muunnin;
Keywords[fr]=bitmap2component;Bitmap;Converter;
Keywords[hi]=bitmap2component;बिटमैप;कन्वर्टर;
Keywords[he]=bitmap2component;תמונת סיביות;ממיר;
Keywords[hu]=bitmap2component;Bitmap;Konverter;
Keywords[id]=bitmap2component;Bitmap;Konverter;Pengubah;
Keywords[it]=bitmap2component;Bitmap;Convertitore;
Keywords[ja]=bitmap2component;Bitmap;Converter;
Keywords[ka]=bitmap2component;ბიტმაპი;კონვერტერი;
Keywords[ko]=bitmap2component;Bitmap;Converter;
Keywords[lt]=bitmap2component;Rastras;Konverteris;
Keywords[lv]=bitmap2component;Bitmapa;Pārveidotājs;
Keywords[nl]=bitmap2component;Bitmap;Omzetter;
Keywords[no]=bitmap2component;Bitmap;Konverterer;
Keywords[pl]=bitmap2component;Bitmapa;Konwerter;
Keywords[pt]=bitmap2component;Bitmap;Converter;
Keywords[pt_BR]=bitmap2component;Bitmap;Converter;
Keywords[ro]=bitmap2component;Bitmap;Convertor;
Keywords[ru]=bitmap2component;Bitmap;Converter;
Keywords[sk]=bitmap2component;Bitmap;Converter;
Keywords[sr]=Bitmap-у-компоненту;Bitmap;Конвертер;
Keywords[sv]=bitmap2component;Bitmapp;Konverterare;
Keywords[ta]=Bitmap2Component; பிட்மாப்; மாற்றி;
Keywords[te]=bitmap2component;Bitmap;Converter;
Keywords[th]=bitmap2component;Bitmap;Converter;
Keywords[tr]=bitmap2component/Bileşen Dönüştürücü;
Keywords[uk]=Перетворення растрових зображень у компонент;Растрове зображення;Перетоврювач;
Keywords[vi]=bitmap2component;Bitmap;Converter;
Keywords[zh_CN]=bitmap2component;Bitmap;Converter;
Keywords[zh_TW]=bitmap2component;Bitmap;Converter;
Keywords=bitmap2component;Bitmap;Converter;
Type=Application
Categories=Science;Electronics;
Exec=env GTK_THEME=ZorinGrey-Dark bitmap2component %f
StartupWMClass=bitmap2component
Name[ar]=محوّل صور KiCad
Name[bg]=KiCad Изображение Конвертор
Name[ca]=Conversor d'imatges del KiCad
Name[cs]=KiCad převod obrázků
Name[da]=KiCad-billedkonverter
Name[de]=KiCad Bildumwandler
Name[el]=Μετατροπέας Εικόνας Kicad
Name[en]=KiCad Image Converter
Name[es]=Conversor de imágenes de KiCad
Name[es_MX]=Conversor de imágenes de KiCad
Name[et]=KiCad pildimuundur
Name[fa]=مبدل تصویر KiCad
Name[fi]=KiCad Kuvamuokkain
Name[fr]=Convertisseur d'Image KiCad
Name[hi]=KiCad इमेज कन्वर्टर
Name[he]=ממיר תמונה KiCad
Name[hu]=KiCad kép konvertáló
Name[id]=Konverter Gambar KiCad
Name[it]=Convertitore immagini KiCad
Name[ja]=KiCad イメージ コンバーター
Name[ka]=KiCad გამოსახულების გადამყვანი
Name[ko]=KiCad 이미지 변환기
Name[lt]=KiCad vaizdų konverteris
Name[lv]=KiCad attēlu konvertētājs
Name[nl]=KiCad afbeeldingsomzetter
Name[no]=KiCad bildekonverterer
Name[pl]=Konwerter obrazów programu KiCad
Name[pt]=Conversor de imagens do KiCad
Name[pt_BR]=Conversor de imagens do KiCad
Name[ro]=Convertor de imagini KiCad
Name[ru]=Преобразователь изображений KiCad
Name[sk]=KiCad prevod obrázkov
Name[sr]=KiCad конвертор слика
Name[sv]=KiCad bildkonverterare
Name[ta]=கிகாட் பட மாற்றி
Name[te]=KiCad చిత్రం మార్పిడి సాధనం
Name[th]=โปรแกรมแปลงรูปภาพ KiCad
Name[tr]=KiCad Resim Dönüştürücü
Name[uk]=Перетворення зображень KiCad
Name[vi]=Chuyển đổi hình ảnh KiCad
Name[zh_CN]=KiCad 图片转换器
Name[zh_TW]=KiCad 圖片轉換器
Name=KiCad Image Converter
GenericName[ar]=محوّل الصور النقطية إلى مكوّنات
GenericName[bg]=Конвертор от растерно изображение към компонент
GenericName[ca]=Mapa de bits per al convertidor de components
GenericName[cs]=Konvertor bitmapy na součástky
GenericName[da]=Bitmap til komponentkonverter
GenericName[de]=Bitmap-zu-Bauteil-Umwandlung
GenericName[el]=Μετατροπή Εξαρτήματος σε Component
GenericName[en]=Bitmap to Component Converter
GenericName[es]=Conversor de mapas de bits en componentes
GenericName[es_MX]=Conversor de mapas de bits en componentes
GenericName[et]=Bittrasterist komponendiks teisendaja
GenericName[fi]=Luo komponentti kuvasta
GenericName[fr]=Convertisseur Bitmap en Composant
GenericName[hi]=बिटमैप से कॉम्पोनेंट कन्वर्टर
GenericName[he]=ממיר תמונת סיביות לרכיב
GenericName[hu]=Bitmap–alkatrész konverter
GenericName[id]=Pengonversi Bitmap ke Komponen
GenericName[it]=Convertitore da Bitmap a componente
GenericName[ja]=ビットマップ - コンポーネント変換
GenericName[ka]=ბიტმაპიდან კომპონენტის კონვერტერი
GenericName[ko]=비트맵을 부품으로 변환
GenericName[lt]=Rastro į komponentą konverteris
GenericName[lv]=Bitmapu uz komponenta pārveidotājs
GenericName[nl]=Bitmap naar component-converteerder
GenericName[no]=Bitmap to Component Converter
GenericName[pl]=Konwerter map bitowych na symbole
GenericName[pt]=Conversor de Bitmap para Componente
GenericName[pt_BR]=Conversor de bitmap para componente
GenericName[ro]=Convertor Bitmap în Componentă
GenericName[ru]=Конвертер растрового изображения в компонент
GenericName[sk]=Konvertor bitovej mapy na súčiastku
GenericName[sv]=Bitmapp till Komponent-konverterare
GenericName[ta]=கூறு மாற்றி முதல் பிட்மேப்
GenericName[te]=బిట్‌మ్యాప్ నుండి భాగం మార్పిడి సాధనం
GenericName[th]=ผู้เปลี่ยนบิทแมบเป็นอุปกรณ์
GenericName[tr]=Bitmap/Bileşen Dönüştürücü
GenericName[uk]=Перетворення растрових зображень у компонент
GenericName[vi]=Bộ chuyển đổi Bitmap thành linh kiện
GenericName[zh_CN]=将位图转换成元件
GenericName[zh_TW]=將點陣圖轉換成元件
GenericName=Bitmap to Component Converter
Comment[ar]=إنشاء مكوّن من صورة نقطية للاستخدام مع KiCad
Comment[bg]=Създай компонент от растерно изображение за използвай с KiCad
Comment[ca]=Crea un component a partir d'un mapa de bits per utilitzar-lo amb KiCad
Comment[cs]=Vytvořit komponentu z bitmapy pro použití s KiCadem
Comment[da]=Opret en komponent fra et bitmap til brug med KiCad
Comment[de]=Ein Bauteil aus einer Bitmap-Grafik erstellen, um diese mit KiCad zu verwenden
Comment[el]=Δημιουργία εξαρτήματος από bitmap για χρήση στο KiCad
Comment[en]=Create a component from a bitmap for use with KiCad
Comment[es]=Crear un componente desde un mapa de bits para utilizarlo con KiCad
Comment[es_MX]=Crear un componente desde un mapa de bits para utilizarlo con KiCad
Comment[et]=Loob bittrastrist komponendi KiCadis kasutamiseks
Comment[fi]=Luo komponentti bittikartasta käytettäväksi KiCadin kanssa
Comment[fr]=Créer un composant à partir d’une image bitmap pour une utilisation avec KiCad
Comment[hi]=KiCad के साथ उपयोग के लिए बिटमैप से घटक बनाएँ
Comment[he]=צור רכיב מתמונת סיביות לשימוש על ידי KiCad
Comment[hu]=Alkatrész létrehozása bitmapból KiCad-hez való használatra
Comment[id]=Buat komponen dari bitmap untuk digunakan KiCad
Comment[it]=Crea un componente da una bitmap per l'uso con KiCad
Comment[ja]=bitmap から KiCad 用コンポーネントを作成
Comment[ka]=KiCad-ში გამოსაყენებელი კომპონენტის შექმნა ბიტმაპიდან
Comment[ko]=비트맵으로부터 KiCad용 부품 생성
Comment[lt]=Sukurti komponentą iš rastro naudojimui su KiCad
Comment[lv]=Izveidot komponentu no bitmapu faila lietošanai ar KiCad
Comment[nl]=KiCad component aanmaken vanaf een bitmap
Comment[no]=Opprett en komponent fra et bitmap for bruk med KiCad
Comment[pl]=Tworzy komponent z mapy bitowej by można go było użyć w programie KiCad
Comment[pt]=Criar um componente a partir de um bitmap para usar com o KiCad
Comment[pt_BR]=Crie um componente a partir de um bitmap para usar com o KiCad
Comment[ro]=Creați o componenta dintr-un bitmap pentru a o folosi în KiCad
Comment[ru]=Создание компонентов KiCad из растровых изображений
Comment[sk]=Vytvoriť komponentu z bitmapy pre použití s KiCadem
Comment[sv]=Skapa en komponent från en bitmap-bild för användning med KiCad
Comment[ta]=கிகேடுடன் பயன்படுத்த பிட்மேப்பிலிருந்து ஒரு கூறுகளை உருவாக்கவும்
Comment[te]=KiCad కోసం బిట్‌మ్యాప్ నుండి భాగం రూపొందించు
Comment[th]=สร้างอุปกรณ์ขึ้นมาจากบิทแมปสำหรับใช้งานใน KiCad
Comment[tr]=KiCad ile kullanmak için bir bitmap'ten bir bileşen oluşturun
Comment[uk]=Створіть компонент із растрового зображення для використання в KiCad
Comment[vi]=Tạo linh kiện từ bitmap để dùng với KiCad
Comment[zh_CN]=从位图创建用于 KiCad 的元件
Comment[zh_TW]=從點陣圖建立用於 KiCad 的元件
Comment=Create a component from a bitmap for use with KiCad
X-AppStream-Ignore=true
